<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.drishti.trial"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>trial for toycathon</name>

  <description>
      An example for toycathon
  </description>

  <author href="https://build.phonegap.com" email="support@phonegap.com">
      team drishti
  </author>
<icon src="icon.png" />

</widget>